<!DOCTYPE html>
<html>
<head>
<title>Socket.IO chat</title>
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<ul id="messages"></ul>
<div id="chat-end"></div>

<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./../../javascripts/index.js"></script>
</html>
